@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media only screen and (min-width: 768px) {
    ::-webkit-scrollbar {
      width: 12px;
      height: 12px;
      background-color: #d1d5db;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #007aff;
      border: 1px solid #d1d5db;
      border-radius: 8px;
    }
  }
}
